<a href="https://www.kaggle.com/code/ayushs9020/re-inventing-encoding-techniques?scriptVersionId=136718792" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

# <p style="font-family:JetBrains Mono; font-weight:bold; letter-spacing: 2px; color:#FFA500; font-size:140%; text-align:left;padding: 0px; border-bottom: 3px solid #FFA500">One Hot Encoder </p>

<div style="border-radius:10px; border:#FFA500 solid; padding: 15px; background-color: #F3f9ed; font-size:100%; text-align:left">

So what is this One Hot Encoder...?

Many a times we find data with non-numerical columns, which needs to be turned into Numerical Columns. we cannot feed str columns to mathematical models. THis is where the Enocding Techniques comes into play

# <p style="font-family:JetBrains Mono; font-weight:bold; letter-spacing: 2px; color:#00FFFF; font-size:140%; text-align:left;padding: 0px; border-bottom: 3px solid #00FFFF">1 | Intution + Build ðŸ§°</p>

<div style="border-radius:10px; border:#00FFFF solid; padding: 15px; background-color: #F3f9ed; font-size:100%; text-align:left">

Lets assume we have a data like this

In [1]:
import pandas as pd
import numpy as np

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/playground-series-s3e19/sample_submission.csv
/kaggle/input/playground-series-s3e19/train.csv
/kaggle/input/playground-series-s3e19/test.csv

In [2]:
data = pd.read_csv("/kaggle/input/playground-series-s3e19/train.csv")

data

,id,date,country,store,product,num_sold
0,0,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Improve Your Coding,63
1,1,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Train More LLMs,66
2,2,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Win Friends and Influence People,9
3,3,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Win More Kaggle Competitions,59
4,4,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Write Better,49
...,...,...,...,...,...,...
136945,136945,2021-12-31,Spain,Kagglazon,Using LLMs to Improve Your Coding,700
136946,136946,2021-12-31,Spain,Kagglazon,Using LLMs to Train More LLMs,752
136947,136947,2021-12-31,Spain,Kagglazon,Using LLMs to Win Friends and Influence People,111
136948,136948,2021-12-31,Spain,Kagglazon,Using LLMs to Win More Kaggle Competitions,641
136949,136949,2021-12-31,Spain,Kagglazon,Using LLMs to Write Better,539

<div style="border-radius:10px; border:#00FFFF solid; padding: 15px; background-color: #F3f9ed; font-size:100%; text-align:left">

Lets for now just focus on column `country`

In [3]:
sample_data = data["country"]

sample_data

0         Argentina
1         Argentina
2         Argentina
3         Argentina
4         Argentina
            ...
136945        Spain
136946        Spain
136947        Spain
136948        Spain
136949        Spain
Name: country, Length: 136950, dtype: object

<div style="border-radius:10px; border:#00FFFF solid; padding: 15px; background-color: #F3f9ed; font-size:100%; text-align:left">

Lets see what are the Unique values in this

In [4]:
sample_data.unique()

type(sample_data.unique())

numpy.ndarray

<div style="border-radius:10px; border:#00FFFF solid; padding: 15px; background-color: #F3f9ed; font-size:100%; text-align:left">

This is a `numpy array` of objects as you can see

But there is a problem with this array or `unique` function, it is not sorted, nor it provided any functionality or any lead to sort these values according to the number of occurecnes in the dataset. So we will be rather using `pd.DataFrame().value_counts()` function to both access the values as well as there number of ocruncess in the dataset

In [5]:
sample_data.value_counts()

type(sample_data.value_counts())

pandas.core.series.Series

<div style="border-radius:10px; border:#00FFFF solid; padding: 15px; background-color: #F3f9ed; font-size:100%; text-align:left">

We can see this is a `pandas.core.series.Series`. We can access only the categories by adding the `index` as `pd.DataFrame().value_counts().index` and the ocurrences by specifying the index normally, like this

In [6]:
ocurrences = [sample_data.value_counts()[x] for x in range(len(sample_data.value_counts()))]
categories = [sample_data.value_counts().index[x] for x in range(len(sample_data.value_counts()))]

ocurrences , categories

([27390, 27390, 27390, 27390, 27390],
 ['Argentina', 'Canada', 'Estonia', 'Japan', 'Spain'])

<div style="border-radius:10px; border:#00FFFF solid; padding: 15px; background-color: #F3f9ed; font-size:100%; text-align:left">

We could also had used `to_dict()` function to make a dictionary of these `key = categories` and `value = occurences` and then do the further processing. I have not considered that method here. Will update in the newer versions of this notebook

So we will be using this list to make new columns in our dataset, we will simply run a for loop iterating over the every values, and using the `np.where` function to make a new column in the end with the binary digits specifying wether the particular category occured in the dataset or not at a specified position. But lets try to do this for on, and then we will apply the for loop

In [7]:
sample_data = pd.DataFrame(sample_data)

sample_data

          country
0       Argentina
1       Argentina
2       Argentina
3       Argentina
4       Argentina
...           ...
136945      Spain
136946      Spain
136947      Spain
136948      Spain
136949      Spain

[136950 rows x 1 columns]

<div style="border-radius:10px; border:#00FFFF solid; padding: 15px; background-color: #F3f9ed; font-size:100%; text-align:left">

Here the magic starts

In [8]:
np.where(sample_data == "Argentina" , 1 , 0).squeeze()

array([1, 1, 1, ..., 0, 0, 0])

In [9]:
sample_data["Argentina"] = np.where(sample_data == "Argentina" , 1 , 0).squeeze()
sample_data

          country  Argentina
0       Argentina          1
1       Argentina          1
2       Argentina          1
3       Argentina          1
4       Argentina          1
...           ...        ...
136945      Spain          0
136946      Spain          0
136947      Spain          0
136948      Spain          0
136949      Spain          0

[136950 rows x 2 columns]

<div style="border-radius:10px; border:#00FFFF solid; padding: 15px; background-color: #F3f9ed; font-size:100%; text-align:left">

As we can see our most of the work is done, now we just need to apply the loops

In [10]:
for i in sample_data.value_counts().index:
    sample_data["country" + "_" + i[0]] = np.where(sample_data["country"] == i[0] , 1 , 0)

sample_data

,country,Argentina,country_Argentina,country_Canada,country_Estonia,country_Japan,country_Spain
0,Argentina,1,1,0,0,0,0
1,Argentina,1,1,0,0,0,0
2,Argentina,1,1,0,0,0,0
3,Argentina,1,1,0,0,0,0
4,Argentina,1,1,0,0,0,0
...,...,...,...,...,...,...,...
136945,Spain,0,0,0,0,0,1
136946,Spain,0,0,0,0,0,1
136947,Spain,0,0,0,0,0,1
136948,Spain,0,0,0,0,0,1
136949,Spain,0,0,0,0,0,1

<div style="border-radius:10px; border:#00FFFF solid; padding: 15px; background-color: #F3f9ed; font-size:100%; text-align:left">

Now we dont need the Original column, so we will jsut remove it

In [11]:
sample_data.drop("country" , axis = 1 , inplace = True)

In [12]:
sample_data

,Argentina,country_Argentina,country_Canada,country_Estonia,country_Japan,country_Spain
0,1,1,0,0,0,0
1,1,1,0,0,0,0
2,1,1,0,0,0,0
3,1,1,0,0,0,0
4,1,1,0,0,0,0
...,...,...,...,...,...,...
136945,0,0,0,0,0,1
136946,0,0,0,0,0,1
136947,0,0,0,0,0,1
136948,0,0,0,0,0,1
136949,0,0,0,0,0,1

<div style="border-radius:10px; border:#00FFFF solid; padding: 15px; background-color: #F3f9ed; font-size:100%; text-align:left">

Now we will make a defined function for this, so that we can use that easily

In [13]:
def sample_func(dataframe , columns):
    
    for i in columns:
                
        for j in dataframe[i].value_counts().index[0]:
                
            dataframe[i + "_" + j[0]] = np.where(dataframe[i] == j[0] , 1 , 0)
                
        dataframe.drop(i , axis = 1 , inplace = True)

<div style="border-radius:10px; border:#00FFFF solid; padding: 15px; background-color: #F3f9ed; font-size:100%; text-align:left">

This is velnurable to one risk, That is if user enters one column, I dont know why, but numpy is treating the single column as tuple and list of columns as list, We will be adding a if condition to surpass this. **ANY LEADS TO THIS IS HIGHLY APPRICEATED, COMMENT, IF YOU KNOW HOW TO FIX THIS**

In [14]:
def sample_func(dataframe , columns):
    
    if len(columns) == 1 :
        
        for i in columns:
                
            for j in dataframe[i].value_counts().index[0]:
                
                dataframe[i + "_" + j[0]] = np.where(dataframe[i] == j[0] , 1 , 0)
                
            dataframe.drop(i , axis = 1 , inplace = True)

    else : 
        
        for i in columns:
                
            for j in dataframe[i].value_counts().index[0]:
                
                dataframe[i + "_" + j] = np.where(dataframe[i] == j , 1 , 0)
                
            dataframe.drop(i , axis = 1 , inplace = True)

# <p style="font-family:JetBrains Mono; font-weight:bold; letter-spacing: 2px; color:#86242A; font-size:140%; text-align:left;padding: 0px; border-bottom: 3px solid #86242A">2 | Functionalities ðŸ”¨</p>

<div style="border-radius:10px; border:#86242A solid; padding: 15px; background-color: #F3f9ed; font-size:100%; text-align:left">

Our goal is to make a replica of **[sklearn.preprocessing.onehotencoder](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html)**

Now we will add some functionalities to make it easier to use our function

|Name|Attribute|Accepted Values|Deafult|Information|Applied
|---|---|---|---|---|---|
|Drop|`drop`|`{â€˜firstâ€™, â€˜if_binaryâ€™ , 'None'}`|`None`|Specifies a methodology to use to drop one of the categories per feature|âœ…
|Dtype|`dtype`|`int`|`float`|Desired dtype of output|âœ…
|Min Frequency|`min_frequency`|`int`/`float`|`None`|Specifies the minimum frequency below which a category will be considered infrequent|âœ…
|Max Categories|`max_categories`|`int`|`None`|Specifies an upper limit to the number of output features for each input feature when considering infrequent categories. If there are infrequent categories, `max_categories` includes the category representing the infrequent categories along with the frequent categories. If `None`, there is no limit to the number of output features|âœ…
## 2.1 | Drop

This is useful in situations where `perfectly collinear features` cause problems, such as when feeding the resulting data into an unregularized linear regression model. However, dropping one category breaks the symmetry of the original representation and can therefore induce a bias in downstream models, for instance for penalized linear classification or regression models.

First we will shorten our scope to only `first` 
Here we just need to chek for a condition and do the work accordingly

In [15]:
def sample_func(dataframe , columns , drop = None):
    
    if len(columns) == 1 :
        
        for j in dataframe[columne[0]].value_counts().index[0]:

            dataframe[columns[0] + "_" + j[0]] = np.where(dataframe[columns[0]] == j[0] 
                                                          , 1 , 0)
        if drop == "first" :
            
            dataframe.drop(str(columns[0]) + "_" + sample_data[columne[0]].value_counts.index[0] , 
                          axis = 1 , inplace = True)

        dataframe.drop(columns[0] , axis = 1 , inplace = True)

    else : 
        
        for i in columns:
                
            for j in dataframe[i].value_counts().index[0]:
                
                dataframe[i + "_" + j] = np.where(dataframe[i] == j , 1 , 0)
            if drop == "first" :
            
                dataframe.drop(str(i) + "_" + sample_data[i].value_counts.index[0] , 
                               axis = 1 , inplace = True)
            
            dataframe.drop(i , axis = 1 , inplace = True)

<div style="border-radius:10px; border:#86242A solid; padding: 15px; background-color: #F3f9ed; font-size:100%; text-align:left">

Now for doing for the `drop = "if_binary"`.

Now lets try to take a overview of what the function is doing.
* if we choose `drop = None` , then it retains all columns
* if we choose `drop = "first"` , then it removes the first feature
* if we choose `drop = if_binary` , then it removes the first feature

Notice both at `drop = "first"` and `drop = "if_binary"`, it removes the first feature. Then we can just combine these functions and do the things.

In [16]:
def sample_func(dataframe , columns , drop = None):
    
    if len(columns) == 1 :
        
        for j in dataframe[columne[0]].value_counts().index[0]:

            dataframe[columns[0] + "_" + j[0]] = np.where(dataframe[columns[0]] == j[0] 
                                                          , 1 , 0)
        if drop == "first" or drop == "if_binary":
            
            dataframe.drop(str(columns[0]) + "_" + sample_data[columne[0]].value_counts.index[0] , 
                          axis = 1 , inplace = True)

        dataframe.drop(columns[0] , axis = 1 , inplace = True)

    else : 
        
        for i in columns:
                
            for j in dataframe[i].value_counts().index[0]:
                
                dataframe[i + "_" + j] = np.where(dataframe[i] == j , 1 , 0)
            if drop == "first" or drop == "if_binary" :
            
                dataframe.drop(str(i) + "_" + sample_data[i].value_counts.index[0] , 
                               axis = 1 , inplace = True)
            
            dataframe.drop(i , axis = 1 , inplace = True)

<div style="border-radius:10px; border:#86242A solid; padding: 15px; background-color: #F3f9ed; font-size:100%; text-align:left">

## 2.2 | Dtype

Here we know that the dtype of numerical in the simplest format can be only either `int` or `float`. So we just need to add an `if-else` condtion to do this.

In [17]:
def sample_func(dataframe , columns , min_frequency = None , dtype = float):
    
    if len(columns) == 1:

        for j in dataframe[columne[0]].value_counts().index[0]:

            dataframe[columne[0] + "_" + j[0]] = np.where(dataframe[columne[0]] == j[0] ,
                                                    dtype(1) , dtype(0))
        if drop == "first" or drop == "if_binary" :
                    dataframe.drop(str(i) + "_" + sample_data[i].value_counts.index[0] ,
                                   axis = 1 , inplace = True)
        dataframe.drop(columne[0] , axis = 1 , inplace = True)

    else :

        for i in columns:

            for j in dataframe[i].value_counts().index[0]:

                dataframe[i + "_" + j] = np.where(dataframe[i] == j ,
                                                  dtype(1) , dtype(0))
            if drop == "first" or drop == "if_binary" :
                    dataframe.drop(str(i) + "_" + sample_data[i].value_counts.index[0] ,
                                   axis = 1 , inplace = True)
            dataframe.drop(i , axis = 1 , inplace = True)

<div style="border-radius:10px; border:#86242A solid; padding: 15px; background-color: #F3f9ed; font-size:100%; text-align:left">

## 2.3 | Min_Frequency
For this we will

* just create a list containing those who do not have the minimum number of occurences
* then check if the category do not exist in the list or not
* * if True ,
* * make the respective column
* * else
* * make another column as other and put all of the list into that column, For this we will be using the pd.DataFrame().isin(list) function

In [18]:
def sample_func(dataframe , columns , min_frequency = None , dtype = float):

    if not min_frequency == None:

        if len(columns) == 1 :

            inf = [j
                for j in dataframe[columne[0]].value_counts().index
                if dataframe[columne[0]].value_counts()[j] > min_frequency]

            for j in dataframe[columne[0]].value_counts().index:

                if not j in inf:

                    dataframe[columne[0] + "_" + j[0]] = np.where(dataframe[columne[0]] == j[0] ,
                                                                  dtype(1) , dtype(0))

                else:

                    dataframe[columne[0] + "_other"] = np.where(dataframe[columne[0]].isin(inf) ,
                                                                dtype(1) , dtype(0))
                if drop == "first" or drop == "if_binary":
                    dataframe.drop(str(columns[0]) + "_" + sample_data[columne[0]].value_counts.index[0] ,
                                   axis = 1 , inplace = True)
            dataframe.drop(i , axis = 1 , inplace = True)
        else :
            for i in columns:

                inf = [j
                    for j in dataframe[i].value_counts().index
                    if dataframe[i].value_counts()[j] > min_frequency]

                for j in dataframe[i].value_counts().index:

                    if not j in inf:

                        dataframe[i + "_" + j] = np.where(dataframe[i] == j ,
                                                          dtype(1) , dtype(0))

                    else:

                        dataframe[i + "_other"] = np.where(dataframe[i].isin(inf) ,
                                                           dtype(1) , dtype(0))
                    if drop == "first" or drop == "if_binary" :
                        dataframe.drop(str(i) + "_" + sample_data[i].value_counts.index[0] ,
                                       axis = 1 , inplace = True)
                dataframe.drop(i , axis = 1 , inplace = True)
    else :

        if len(columns) == 1:

            for j in dataframe[columne[0]].value_counts().index[0]:

                dataframe[columne[0] + "_" + j[0]] = np.where(dataframe[columne[0]] == j[0] ,
                                                        dtype(1) , dtype(0))
            if drop == "first" or drop == "if_binary" :
                        dataframe.drop(str(i) + "_" + sample_data[i].value_counts.index[0] ,
                                       axis = 1 , inplace = True)
            dataframe.drop(columne[0] , axis = 1 , inplace = True)

        else :

            for i in columns:

                for j in dataframe[i].value_counts().index[0]:

                    dataframe[i + "_" + j] = np.where(dataframe[i] == j ,
                                                      dtype(1) , dtype(0))
                if drop == "first" or drop == "if_binary" :
                        dataframe.drop(str(i) + "_" + sample_data[i].value_counts.index[0] ,
                                       axis = 1 , inplace = True)
                dataframe.drop(i , axis = 1 , inplace = True)

<div style="border-radius:10px; border:#86242A solid; padding: 15px; background-color: #F3f9ed; font-size:100%; text-align:left">

This was for when `min_frequecy = int`, for `float`, we need to multipy this number by `n_samples`

In [19]:
def sample_func(dataframe , columns , min_frequency = None , dtype = float):
    if type(min_frquency) == int:
        pass
    else :
        min_frequnecy *= len(columns)

    if not min_frequency == None:

        if len(columns) == 1 :

            inf = [j
                for j in dataframe[columne[0]].value_counts().index
                if dataframe[columne[0]].value_counts()[j] > min_frequency]

            for j in dataframe[columne[0]].value_counts().index:

                if not j in inf:

                    dataframe[columne[0] + "_" + j[0]] = np.where(dataframe[columne[0]] == j[0] ,
                                                                  dtype(1) , dtype(0))

                else:

                    dataframe[columne[0] + "_other"] = np.where(dataframe[columne[0]].isin(inf) ,
                                                                dtype(1) , dtype(0))
                if drop == "first" or drop == "if_binary":
                    dataframe.drop(str(columns[0]) + "_" + sample_data[columne[0]].value_counts.index[0] ,
                                   axis = 1 , inplace = True)
            dataframe.drop(i , axis = 1 , inplace = True)
        else :
            for i in columns:

                inf = [j
                    for j in dataframe[i].value_counts().index
                    if dataframe[i].value_counts()[j] > min_frequency]

                for j in dataframe[i].value_counts().index:

                    if not j in inf:

                        dataframe[i + "_" + j] = np.where(dataframe[i] == j ,
                                                          dtype(1) , dtype(0))

                    else:

                        dataframe[i + "_other"] = np.where(dataframe[i].isin(inf) ,
                                                           dtype(1) , dtype(0))
                    if drop == "first" or drop == "if_binary" :
                        dataframe.drop(str(i) + "_" + sample_data[i].value_counts.index[0] ,
                                       axis = 1 , inplace = True)
                dataframe.drop(i , axis = 1 , inplace = True)
    else :

        if len(columns) == 1:

            for j in dataframe[columne[0]].value_counts().index[0]:

                dataframe[columne[0] + "_" + j[0]] = np.where(dataframe[columne[0]] == j[0] ,
                                                        dtype(1) , dtype(0))
            if drop == "first" or drop == "if_binary" :
                        dataframe.drop(str(i) + "_" + sample_data[i].value_counts.index[0] ,
                                       axis = 1 , inplace = True)
            dataframe.drop(columne[0] , axis = 1 , inplace = True)

        else :

            for i in columns:

                for j in dataframe[i].value_counts().index[0]:

                    dataframe[i + "_" + j] = np.where(dataframe[i] == j ,
                                                      dtype(1) , dtype(0))
                if drop == "first" or drop == "if_binary" :
                        dataframe.drop(str(i) + "_" + sample_data[i].value_counts.index[0] ,
                                       axis = 1 , inplace = True)
                dataframe.drop(i , axis = 1 , inplace = True)

<div style="border-radius:10px; border:#86242A solid; padding: 15px; background-color: #F3f9ed; font-size:100%; text-align:left">

## 2.4 | Max_categories

For this we will just access the original list of categores and place a kink at the hyperparameter(max_categories) and apply the same implemntation as we did for the the min_frequency

In [20]:
def sample_func(dataframe , columns , min_frequency = None , max_categories = None , dtype = float):
    if type(min_frquency) == int:
        pass
    else :
        min_frequnecy *= len(columns)

    if not min_frequency == None:

        if len(columns) == 1 :

            inf = [j
                for j in dataframe[columns[0]].value_counts().index
                if dataframe[columns[0]].value_counts()[j] > min_frequency]

            for j in dataframe[columns[0]].value_counts().index:

                if not j in inf:

                    dataframe[columns[0] + "_" + j[0]] = np.where(dataframe[columns[0]] == j[0] , dtype(1) , dtype(0))

                else:

                    dataframe[columns[0] + "_other"] = np.where(dataframe[columns[0]].isin(inf) , dtype(1) , dtype(0))
                if drop == "first" or drop == "if_binary" :
                        dataframe.drop(str(columne[0]) + "_" + sample_data[columne[0]].value_counts.index[0] ,
                                       axis = 1 , inplace = True)
                dataframe.drop(columne[0] , axis = 1 , inplace = True)
        else :
            for i in columns:

                inf = [j
                    for j in dataframe[i].value_counts().index
                    if dataframe[i].value_counts()[j] > min_frequency]

                for j in dataframe[i].value_counts().index:

                    if not j in inf:

                        dataframe[i + "_" + j] = np.where(dataframe[i] == j , dtype(1) , dtype(0))

                    else:

                        dataframe[i + "_other"] = np.where(dataframe[i].isin(inf) , dtype(1) , dtype(0))
                    if drop == "first" or drop == "if_binary" :
                        dataframe.drop(str(i) + "_" + sample_data[i].value_counts.index[0] ,
                                       axis = 1 , inplace = True)
                dataframe.drop(i , axis = 1 , inplace = True)

    elif not max_categories == None:

        if len(columns) == 1:

            inf = dataframe[columnes[0]].value_counts().index[max_categories : ]

            for j in dataframe[columnes[0]].value_counts().index[: max_categories]:

                dataframe[columnes[0] + "_" + j[0]] = np.where(dataframe[columnes[0]] == j[0] , dtype(1) , dtype(0))

            dataframe[columnes[0] + "_other"] = np.where(dataframe[columnes[0]].isin(inf) , dtype(1) , dtype(0))
            if drop == "first" or drop == "if_binary" :
                        dataframe.drop(str(columne[0]) + "_" + sample_data[columne[0]].value_counts.index[0] ,
                                       axis = 1 , inplace = True)
            dataframe.drop(columnes[0] , axis = 1 , inplace = True)

        else :

            for i in columns:

                inf = dataframe[i].value_counts().index[max_categories : ]

                for j in dataframe[i].value_counts().index[: max_categories]:

                    dataframe[i + "_" + j] = np.where(dataframe[i] == j , dtype(1) , dtype(0))

                dataframe[i + "_other"] = np.where(dataframe[i].isin(inf) , dtype(1) , dtype(0))
                if drop == "first" or drop == "if_binary" :
                        dataframe.drop(str(i) + "_" + sample_data[i].value_counts.index[0] ,
                                       axis = 1 , inplace = True)
                dataframe.drop(i , axis = 1 , inplace = True)

    else :

        if len(columns) == 1:

            for j in dataframe[columns[0]].value_counts().index[0]:

                dataframe[columns[0] + "_" + j[0]] = np.where(dataframe[columns[0]] == j[0] , dtype(1) , dtype(0))
            if drop == "first" or drop == "if_binary" :
                        dataframe.drop(str(columns[0]) + "_" + sample_data[columns[0]].value_counts.index[0] ,
                                       axis = 1 , inplace = True)
            dataframe.drop(columns[0] , axis = 1 , inplace = True)

        else :

            for i in columns:

                for j in dataframe[i].value_counts().index[0]:

                    dataframe[i + "_" + j] = np.where(dataframe[i] == j , dtype(1) , dtype(0))
                if drop == "first" or drop == "if_binary" :
                        dataframe.drop(str(i) + "_" + sample_data[i].value_counts.index[0] ,
                                       axis = 1 , inplace = True)
                dataframe.drop(i , axis = 1 , inplace = True)

# <p style="font-family:JetBrains Mono; font-weight:bold; letter-spacing: 2px; color:#964B00; font-size:140%; text-align:left;padding: 0px; border-bottom: 3px solid #964B00">3 | Final Code ðŸ’¡</p>

<div style="border-radius:10px; border:#964B00 solid; padding: 15px; background-color: #F3f9ed; font-size:100%; text-align:left">

This is the final code

In [21]:
def sample_func(dataframe , columns , min_frequency = None , max_categories = None , dtype = float):
    
    if type(min_frquency) == int:pass
    else :min_frequnecy *= len(columns)

    if not min_frequency == None:

        if len(columns) == 1 :

            inf = [j
                for j in dataframe[columns[0]].value_counts().index
                if dataframe[columns[0]].value_counts()[j] > min_frequency]

            for j in dataframe[columns[0]].value_counts().index:

                if not j in inf:

                    dataframe[columns[0] + "_" + j[0]] = np.where(dataframe[columns[0]] == j[0] , dtype(1) , dtype(0))

                else:

                    dataframe[columns[0] + "_other"] = np.where(dataframe[columns[0]].isin(inf) , dtype(1) , dtype(0))
                
                if drop == "first" or drop == "if_binary" :
                        
                        dataframe.drop(str(columne[0]) + "_" + sample_data[columne[0]].value_counts.index[0] ,
                                       axis = 1 , inplace = True)
                
                dataframe.drop(columne[0] , axis = 1 , inplace = True)
        
        else :
            
            for i in columns:

                inf = [j
                    for j in dataframe[i].value_counts().index
                    if dataframe[i].value_counts()[j] > min_frequency]

                for j in dataframe[i].value_counts().index:

                    if not j in inf:

                        dataframe[i + "_" + j] = np.where(dataframe[i] == j , dtype(1) , dtype(0))

                    else:

                        dataframe[i + "_other"] = np.where(dataframe[i].isin(inf) , dtype(1) , dtype(0))
                    
                    if drop == "first" or drop == "if_binary" :
                        
                        dataframe.drop(str(i) + "_" + sample_data[i].value_counts.index[0] ,
                                       axis = 1 , inplace = True)
                
                dataframe.drop(i , axis = 1 , inplace = True)

    elif not max_categories == None:

        if len(columns) == 1:

            inf = dataframe[columnes[0]].value_counts().index[max_categories : ]

            for j in dataframe[columnes[0]].value_counts().index[: max_categories]:

                dataframe[columnes[0] + "_" + j[0]] = np.where(dataframe[columnes[0]] == j[0] , dtype(1) , dtype(0))

            dataframe[columnes[0] + "_other"] = np.where(dataframe[columnes[0]].isin(inf) , dtype(1) , dtype(0))
            
            if drop == "first" or drop == "if_binary" :
                        
                    dataframe.drop(str(columne[0]) + "_" + sample_data[columne[0]].value_counts.index[0] ,
                                       axis = 1 , inplace = True)
            
            dataframe.drop(columnes[0] , axis = 1 , inplace = True)

        else :

            for i in columns:

                inf = dataframe[i].value_counts().index[max_categories : ]

                for j in dataframe[i].value_counts().index[: max_categories]:

                    dataframe[i + "_" + j] = np.where(dataframe[i] == j , dtype(1) , dtype(0))

                dataframe[i + "_other"] = np.where(dataframe[i].isin(inf) , dtype(1) , dtype(0))
                
                if drop == "first" or drop == "if_binary" :
                        
                        dataframe.drop(str(i) + "_" + sample_data[i].value_counts.index[0] ,
                                       axis = 1 , inplace = True)
                
                dataframe.drop(i , axis = 1 , inplace = True)

    else :

        if len(columns) == 1:

            for j in dataframe[columns[0]].value_counts().index[0]:

                dataframe[columns[0] + "_" + j[0]] = np.where(dataframe[columns[0]] == j[0] , dtype(1) , dtype(0))
            
            if drop == "first" or drop == "if_binary" :
                        
                    dataframe.drop(str(columns[0]) + "_" + sample_data[columns[0]].value_counts.index[0] ,
                                       axis = 1 , inplace = True)
            
            dataframe.drop(columns[0] , axis = 1 , inplace = True)

        else :

            for i in columns:

                for j in dataframe[i].value_counts().index[0]:

                    dataframe[i + "_" + j] = np.where(dataframe[i] == j , dtype(1) , dtype(0))
                
                if drop == "first" or drop == "if_binary" :
                        
                        dataframe.drop(str(i) + "_" + sample_data[i].value_counts.index[0] ,
                                       axis = 1 , inplace = True)
                
                dataframe.drop(i , axis = 1 , inplace = True)

# <p style="font-family:JetBrains Mono; font-weight:bold; letter-spacing: 2px; color:#800080; font-size:140%; text-align:left;padding: 0px; border-bottom: 3px solid #800080">4 | Ending ðŸ¤ž</p>

<div style="border-radius:10px; border:#800080 solid; padding: 15px; background-color: #F3f9ed; font-size:100%; text-align:left">

**THIS IS NOT THE FULL IMPLEMENTATION, IT STILL LACKS MANY FUNCTIONALITIES AND IS VULENRABLE TO MANY EDGE CASES, WE WILL IMPROVE THIS IN THE UPCOMING VERSIONS**

**PLEASE COMMENT DOWN IF I DID ANY MISTAKES, OR IF CAN MAKE THIS MORE CONNECTED TO THE GROUND, OR SUGGESTIONS. YOUR ASSISTS ARE HIGHLY APPRECIABLE**

**THATS IT FOR TODAY GUYS**

**HOPE YOU UNDERSTOOD AND LIKED MY WORK**

**DONT FORGET TO MAKE AN UPVOTE  $:)$**

<img src = "https://i.imgflip.com/19aadg.jpg">

**PEACE OUT**