<a href="https://www.kaggle.com/code/ayushs9020/re-inventing-encoding-techniques?scriptVersionId=136355856" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

# One Hot Encoder 

So what is this One Hot Encoder...?

Many a times we find data with non-numerical columns, which needs to be turned into Numerical Columns. we cannot feed str columns to mathematical models. THis is where the Enocding Techniques comes into play

Lets assume we have a data like this

In [1]:
import pandas as pd
import numpy as np

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/playground-series-s3e19/sample_submission.csv
/kaggle/input/playground-series-s3e19/train.csv
/kaggle/input/playground-series-s3e19/test.csv

In [2]:
data = pd.read_csv("/kaggle/input/playground-series-s3e19/train.csv")

data

,id,date,country,store,product,num_sold
0,0,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Improve Your Coding,63
1,1,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Train More LLMs,66
2,2,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Win Friends and Influence People,9
3,3,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Win More Kaggle Competitions,59
4,4,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Write Better,49
...,...,...,...,...,...,...
136945,136945,2021-12-31,Spain,Kagglazon,Using LLMs to Improve Your Coding,700
136946,136946,2021-12-31,Spain,Kagglazon,Using LLMs to Train More LLMs,752
136947,136947,2021-12-31,Spain,Kagglazon,Using LLMs to Win Friends and Influence People,111
136948,136948,2021-12-31,Spain,Kagglazon,Using LLMs to Win More Kaggle Competitions,641
136949,136949,2021-12-31,Spain,Kagglazon,Using LLMs to Write Better,539

Lets for now just focus on column `country`

In [3]:
sample_data = data["country"]

sample_data

0         Argentina
1         Argentina
2         Argentina
3         Argentina
4         Argentina
            ...
136945        Spain
136946        Spain
136947        Spain
136948        Spain
136949        Spain
Name: country, Length: 136950, dtype: object

Lets see what are the Unique values in this

In [4]:
sample_data.unique()

type(sample_data.unique())

numpy.ndarray

This is a `numpy array` of objects as you can see

But there is a problem with this array or `unique` function, it is not sorted, nor it provided any functionality or any lead to sort these values according to the number of occurecnes in the dataset. So we will be rather using `pd.DataFrame().value_counts()` function to both access the values as well as there number of ocruncess in the dataset

In [5]:
sample_data.value_counts()

type(sample_data.value_counts())

pandas.core.series.Series

We can see this is a `pandas.core.series.Series`. We can access only the categories by adding the `index` as `pd.DataFrame().value_counts().index` and the ocurrences by specifying the index normally, like this

In [6]:
ocurrences = [sample_data.value_counts()[x] for x in range(len(sample_data.value_counts()))]
categories = [sample_data.value_counts().index[x] for x in range(len(sample_data.value_counts()))]

ocurrences , categories

([27390, 27390, 27390, 27390, 27390],
 ['Argentina', 'Canada', 'Estonia', 'Japan', 'Spain'])

We could also had used `to_dict()` function to make a dictionary of these `key = categories` and `value = occurences` and then do the further processing. I have not considered that method here. Will update in the newer versions of this notebook

So we will be using this list to make new columns in our dataset, we will simply run a for loop iterating over the every values, and using the `np.where` function to make a new column in the end with the binary digits specifying wether the particular category occured in the dataset or not at a specified position. But lets try to do this for on, and then we will apply the for loop

In [7]:
sample_data = pd.DataFrame(sample_data)

sample_data

          country
0       Argentina
1       Argentina
2       Argentina
3       Argentina
4       Argentina
...           ...
136945      Spain
136946      Spain
136947      Spain
136948      Spain
136949      Spain

[136950 rows x 1 columns]

Here the majic starts

In [8]:
np.where(sample_data == "Argentina" , 1 , 0).squeeze()

array([1, 1, 1, ..., 0, 0, 0])

In [9]:
sample_data["Argentina"] = np.where(sample_data == "Argentina" , 1 , 0).squeeze()
sample_data

          country  Argentina
0       Argentina          1
1       Argentina          1
2       Argentina          1
3       Argentina          1
4       Argentina          1
...           ...        ...
136945      Spain          0
136946      Spain          0
136947      Spain          0
136948      Spain          0
136949      Spain          0

[136950 rows x 2 columns]

As we can see our most of the work is done, now we just need to apply the loops

In [10]:
for i in sample_data.value_counts().index:
    sample_data["country" + "_" + i[0]] = np.where(sample_data["country"] == i[0] , 1 , 0)

sample_data

,country,Argentina,country_Argentina,country_Canada,country_Estonia,country_Japan,country_Spain
0,Argentina,1,1,0,0,0,0
1,Argentina,1,1,0,0,0,0
2,Argentina,1,1,0,0,0,0
3,Argentina,1,1,0,0,0,0
4,Argentina,1,1,0,0,0,0
...,...,...,...,...,...,...,...
136945,Spain,0,0,0,0,0,1
136946,Spain,0,0,0,0,0,1
136947,Spain,0,0,0,0,0,1
136948,Spain,0,0,0,0,0,1
136949,Spain,0,0,0,0,0,1

Now we dont need the Original column, so we will jsut remove it

In [11]:
sample_data.drop("country" , axis = 1 , inplace = True)

In [12]:
sample_data

,Argentina,country_Argentina,country_Canada,country_Estonia,country_Japan,country_Spain
0,1,1,0,0,0,0
1,1,1,0,0,0,0
2,1,1,0,0,0,0
3,1,1,0,0,0,0
4,1,1,0,0,0,0
...,...,...,...,...,...,...
136945,0,0,0,0,0,1
136946,0,0,0,0,0,1
136947,0,0,0,0,0,1
136948,0,0,0,0,0,1
136949,0,0,0,0,0,1

# Ending 

**THIS IS NOT THE FULL IMPLEMENTATION, IT STILL LACKS MANY FUNCTIONALITIES AND IS VULENRABLE TO MANY EDGE CASES, WE WILL IMPROVE THIS IN THE UPCOMING VERSIONS**

**PLEASE COMMENT DOWN IF I DID ANY MISTAKES, OR IF CAN MAKE THIS MORE CONNECTED TO THE GROUND, OR SUGGESTIONS. YOUR ASSISTS ARE HIGHLY APPRECIABLE**

**THATS IT FOR TODAY GUYS**

**HOPE YOU UNDERSTOOD AND LIKED MY WORK**

**DONT FORGET TO MAKE AN UPVOTE  $:)$**

<img src = "https://i.imgflip.com/19aadg.jpg">

**PEACE OUT**